html {
  --Nutmeg: hsl(14, 45%, 36%);
  --DarkRaspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --RoseWhite: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --LightGrey: hsl(30, 18%, 87%);
  --WengeBrown: hsl(30, 10%, 34%);
  --DarkCharcoal: hsl(24, 5%, 18%);
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
@font-face {
  font-family: YoungSerif;
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
  font-family: Outfit;
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

ul, ol {
  list-style-position: inside;
}

span {
  font-weight: 650;
}

main {
  background: var(--Eggshell);
  min-height: 100vh;
  padding: 7.75rem 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Outfit";
  font-size: 1rem;
  color: var(--DarkCharcoal);
}
main .container {
  background: var(--White);
  max-width: 46rem;
  border-radius: 1.5rem;
  z-index: 10;
  box-shadow: 0 0 20px 20px var(--Eggshell);
  display: flex;
  flex-direction: column;
}
main .container img {
  height: 300px;
  border-radius: 0.625rem;
  margin: 2.5rem 2.5rem 0;
}
main .container .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;
}
main .container .content hr {
  border: none;
  border-top: 1px double var(--LightGrey);
  overflow: visible;
  text-align: center;
  height: 0px;
}
main .container .content div {
  background: var(--RoseWhite);
  border-radius: 0.625rem;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .container .content div h3 {
  color: var(--DarkRaspberry);
  font-size: 1.25rem;
  font-weight: 600;
}
main .container .content div li {
  padding-left: 0.5rem;
}
main .container .content div li::marker {
  color: var(--DarkRaspberry);
  font-size: 0.75rem;
}
main .container .content div li p {
  padding-left: 1.85rem;
  position: relative;
  transform: translateY(-1.25rem);
}
main .container .content section {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
main .container .content section h1 {
  color: var(--DarkCharcoal);
  font-family: "YoungSerif";
  font-size: 2.5rem;
  font-weight: 500;
}
main .container .content section h2 {
  color: var(--Nutmeg);
  font-family: "YoungSerif";
  font-size: 2rem;
  font-weight: 500;
}
main .container .content section li {
  padding-left: 0.5rem;
}
main .container .content section li::marker {
  color: var(--Nutmeg);
  font-weight: 650;
}
main .container .content section li p {
  padding-left: 1.85rem;
  position: relative;
  transform: translateY(-1.25rem);
}
main .container .content section table {
  border-collapse: collapse;
  border-spacing: 0;
}
main .container .content section table tr {
  border-bottom: 1px solid var(--LightGrey);
}
main .container .content section table tr:last-child {
  border-bottom: none;
}
main .container .content section table tr:last-child td {
  padding: 1rem 0 0 2rem;
}
main .container .content section table tr td {
  padding: 1rem 0 1rem 2rem;
}
main .container .content section table tr td:nth-of-type(2n) {
  width: 52%;
  color: var(--Nutmeg);
  font-weight: 650;
}
main .attribution {
  position: fixed;
  width: 100vw;
  text-align: center;
  bottom: 0;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}
main .attribution a {
  color: var(--DarkRaspberry);
  font-weight: 600;
  text-decoration: none;
  background-image: linear-gradient(to right, #a83962, #fa939a 33.33333%, #f8edeb 50%, #ffa5ab 66.66666%, #ce5782);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-position: top left;
  transition: all 0.4s ease-in-out;
}
main .attribution:hover {
  background: var(--DarkCharcoal);
  color: var(--White);
  opacity: 100%;
}
main .attribution:hover a {
  background-image: linear-gradient(to right, #e0749c, #ffa5ab 33.33333%, #f8edeb 50%, #ffa5ab 66.66666%, #ce5782);
}
main .attribution:hover a:hover {
  background-position: top left 100%;
}

@media screen and (max-width: 780px) {
  main {
    padding: 0 0 5rem;
    background: var(--White);
  }
  main .container {
    max-width: 100%;
    border-radius: 0;
    box-shadow: 0 0 10px 10px var(--White);
  }
  main .container img {
    height: 100%;
    margin: 0;
  }
  main .container .content {
    padding: 2rem;
  }
}/*# sourceMappingURL=style.css.map */